body{
    background-color: #2C2F33;
    color:white;
    font-family: Helvetica;
}

#nav-left{
    margin-top: 50px;
}

#nav-left li{
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 5px;
}