body{
    background-color: #292841;
    color:white;
    font-family: Helvetica;
}

header{
    font-size: 24px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a, a:hover {
    color: inherit; /* no blue colors for links*/
    text-decoration: inherit; /* no underline for links */
  }

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

#page-placeholder{
    padding-right: 10%;
}

.nav-left{
    padding-left: 0;
    padding-right: 0;
}

.navButton_img_container{
    overflow:hidden;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.img_container{
    width: 30px;
    height: 30px;
    display:block;
    margin:auto;
}

.bookmark_img{
    width: 25px;
    height: 25px;
    float:left;
}

.navButton{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    height: 35px;

    text-overflow: clip;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.navButton_child{
    font-size: 14px;
}

.navButton_img_container_child{
    padding-inline-start: 15%;
}

.listItem{
    /* background-color: white; */
    border: 4px solid grey;
    border-radius: 5px;
    /* color: black; */
    margin-bottom: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.listItem_title{
    font-size: 20px;
}

.listItem_table{
    font-size: 14px;
    line-height: 2em;
}

.listItem_table tr{
    /* margin-bottom: 3em; */
}

.li_left, .li_right{
    /* color:black; */
}

.li_left{
    text-align: right;
    border-right: 2px solid #4d4d4d;
}